@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Fira Sans', sans-serif;
    font-size: 28px;
    font-weight: 400; */
    color: black;
}

/* .title {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
    font-weight: 900;
} */